.form-cadastro {
    flex-grow: 2;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 12px 40px;
    font-family: cursive;
    
  }
  .form-cadastro_input {
    margin-top: 8px;
    padding: 4px;
    border: none;
    background-color: var(--fundo-detalhes);
    font-family: cursive;
    font-weight: 100;
    border-radius: 6px;
  }
  
  .form-cadastro_submit {
    align-self: flex-end;
    width: 30%;
    background-color: var(--secundaria);
    color: white;
    font-weight: 400;
  }
  
  .form-cadastro_submit:active {
    background-color: var(--secundaria-ativa);
  }

  .lista_categoria-input{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    margin: 4px;
    padding: 4px;
  }